*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 52px 5.3%;
    background-color: #fff;
}

main{
    min-height: calc(100vh - 104px);
    border: 8px dashed #efff35;
    padding: 68px 38px 72px;
    background-color: #369f89;
    color: #fff;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 23px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.16;
}

h1{
    margin: 8px 0 32px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 48px;
    line-height: 1;
    text-align: left;
}

img{
    float: left;
    width: 180px;
    height: 225px;
    margin: 0 15px 12px 0;
    object-fit: cover;
}

p{
    margin-bottom: 22px;
}

span{
    font-family: Georgia, "Times New Roman", serif;
    color   : #efff35;
    font-size: 23px;
    font-style: italic;
    text-decoration: underline;
}

h2{
    text-align: center;
}

ul{
    list-style-image: url("../imagenes/flor.png");
    margin: 10px 0;
}

a{
    color: #efff35;
    text-decoration: italic, underline;
}

h3{
    text-align: center;
}

img{
    align-items: center;
}






